body {
  font-family: Arial, sans-serif;
  background-image: url("giphy.gif");
  background-size: cover;
  margin: 100;
  padding: 50;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.two {
  flex: 2;
  padding: 10px;
  border-right: 4px solid brown;
}

.two ul {
  list-style-type: none;
  padding: 0;
}

.two ul li {
  margin-bottom: 10px;
}

.btn {
  display: block;
  background-color: brown;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
}

.btn:hover {
  background-color: black;
}

.one {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.one h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.one span {
  font-size: 16px;
  color: #555;
}
